.back-secondary1 {
  background: #ff7472;
}
.back-secondary2 {
  background: #acc73f;
}
.back-secondary3 {
  background: #3a8dd1;
}
.back-secondary4 {
  background: #d13aa4;
}
.back-secondary5 {
  background: #35838d;
}
.color-secondary1 {
  color: #ff7472;
}
.color-secondary2 {
  color: #acc73f;
}
.color-secondary3 {
  color: #3a8dd1;
}
.color-secondary4 {
  color: #d13aa4;
}
.color-secondary5 {
  color: #35838d;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background: #dddddd;
}
.container {
  padding: 0;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.adobe-sprites {
  background-image: url("/images/adobe-sprites.png");
}
.adobe-sprites.photoshop {
  background-position: 0 0;
  width: 100px;
  height: 100px;
}
@media (max-width: 991.98px) {
  .top-name-header {
    justify-content: center;
  }
}
.top-header-resume {
  background: #25373d;
  padding: 30px 0;
  color: #ffffff;
}
.top-header-resume .photo-box {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.top-header-resume .photo-box img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 200px;
}
.top-header-resume .name-header h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
.top-header-resume .name-header h3 {
  font-size: 3.5rem;
}
.top-header-resume .name-header p {
  font-size: 2em;
}
@media (max-width: 991.98px) {
  .top-header-resume .name-header {
    text-align: center;
  }
}
.aside {
  background: #25373d;
  color: #ffffff;
  height: 100%;
}
.aside i {
  font-size: 4rem;
}
.aside .block-aside {
  padding: 0 0 25px;
}
.aside .block-aside .block-head {
  padding: 0 40px;
  margin: 0 0 25px;
  position: relative;
}
.aside .block-aside .block-head.head1::after {
  border-color: #ff7472 transparent transparent transparent;
}
.aside .block-aside .block-head.head2::after {
  border-color: #acc73f transparent transparent transparent;
}
.aside .block-aside .block-head.head3::after {
  border-color: #3a8dd1 transparent transparent transparent;
}
.aside .block-aside .block-head::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 12%;
  border-width: 25px;
  border-style: solid;
  border-color: #ff7472 transparent transparent transparent;
}
.aside .block-aside .block-head p {
  font-size: 3rem;
  text-transform: uppercase;
}
.aside .block-aside .block-profile {
  padding: 20px 40px 5px;
}
.aside .block-aside .block-profile p {
  font-size: 1.4rem;
}
.aside .block-aside .block-contact {
  padding: 10px 0;
}
.aside .block-aside .block-contact .block {
  padding: 5px 40px;
}
.aside .block-aside .block-contact .block .img-contact {
  margin: 0 20px 0 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside .block-aside .block-contact .block .img-contact img.img-adobe {
  width: 100%;
}
.aside .block-aside .block-contact .block .text-contact p {
  font-size: 1.4rem;
}
.content-resume {
  padding: 10px 30px 10px 0;
  color: #000000;
}
@media (max-width: 991.98px) {
  .content-resume {
    padding: 10px 0;
  }
}
.content-resume .content-block {
  margin: 0 0 15px;
}
.content-resume .content-block .content-head {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.content-resume .content-block .content-head .title-content h1 {
  font-size: 3rem;
  color: #ffffff;
}
.content-resume .content-block .content-head .title-icon i {
  color: #ffffff;
  font-size: 4rem;
}
.content-resume .content-block .content-body {
  padding: 10px 20px;
}
.content-resume .content-block .content-body .body-template {
  margin: 0 0 10px;
}
.content-resume .content-block .content-body .body-template p.body-title {
  font-size: 2.2rem;
  font-weight: bold;
}
.content-resume .content-block .content-body .body-template p.body-title a i {
  color: #25373d;
}
.content-resume .content-block .content-body .body-template p.body-title a i:hover {
  color: #acc73f;
}
.content-resume .content-block .content-body .body-template p.body-subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.content-resume .content-block .content-body .body-template p.body-subsubtitle {
  font-size: 1.4rem;
}
.content-resume .content-block .content-body .body-template .description {
  padding: 5px 0;
}
.content-resume .content-block .content-body .body-template .description ul,
.content-resume .content-block .content-body .body-template .description ol {
  font-size: 1.2rem;
}
